@model MediaCollectionMVC.Models.ScannedMedium

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ScannedMedium</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authors" class="control-label"></label>
                <input asp-for="Authors" class="form-control" />
                <span asp-validation-for="Authors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <input asp-for="Categories" class="form-control" />
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRead" class="control-label"></label>
                <input asp-for="IsRead" class="form-control" />
                <span asp-validation-for="IsRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadingPeriods" class="control-label"></label>
                <input asp-for="ReadingPeriods" class="form-control" />
                <span asp-validation-for="ReadingPeriods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverPath" class="control-label"></label>
                <input asp-for="CoverPath" class="form-control" />
                <span asp-validation-for="CoverPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAudioBook" class="control-label"></label>
                <input asp-for="IsAudioBook" class="form-control" />
                <span asp-validation-for="IsAudioBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPaperBook" class="control-label"></label>
                <input asp-for="IsPaperBook" class="form-control" />
                <span asp-validation-for="IsPaperBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPdfbook" class="control-label"></label>
                <input asp-for="IsPdfbook" class="form-control" />
                <span asp-validation-for="IsPdfbook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDonated" class="control-label"></label>
                <input asp-for="IsDonated" class="form-control" />
                <span asp-validation-for="IsDonated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationDate" class="control-label"></label>
                <input asp-for="DonationDate" class="form-control" />
                <span asp-validation-for="DonationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medium" class="control-label"></label>
                <input asp-for="Medium" class="form-control" />
                <span asp-validation-for="Medium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quality" class="control-label"></label>
                <input asp-for="Quality" class="form-control" />
                <span asp-validation-for="Quality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OktoDonate" class="control-label"></label>
                <input asp-for="OktoDonate" class="form-control" />
                <span asp-validation-for="OktoDonate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
