@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GregoryPyatt.Net</h1>
    <p>
        This is my portfolio website. <br />
        I have a BA degree in Psychology from U.C. Irvine, <br />
        and a MBA degree from San Francisco State University.
    <br />
    <br />
    <hr />
        About this website: <br />
        This is an ASP.NET Core MVC website running on .NET Core 7.0. <br />
        It is hosted on Microsoft Azure.<br />
        The source code is hosted on GitHub.<br />
   </p>

   <p>
       <hr />
       Links:
       <br />
       <ul>
            <li>Continue to my <a href="">Media Collection</a> ASP.NET Core MVC web app.</li>
       </ul>
   </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
